* {
    background-repeat: no-repeat;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT10_g9BN5B33RkuLkM_sfm2p__uhgI45ml45J2-HX-SS597VYFpLwx4bHxJFBSNPATsZM&usqp=CAU');
    background-size: cover;
    background-attachment: fixed;
}